body {
	height: 100vh;
	max-height: 100%;
	overflow-y: hidden;
}

main {
	background-color: var(--c-bg-sec);
	width: 40%;
	padding: 4rem 2rem;
	height: 100vh;
	max-height: 100%;
	overflow-y: hidden;
}

aside {
	background-color: var(--c-bg);
	width: 60%;
	padding: 4rem 2rem;
	overflow-y: auto;
}

.color-preview {
	width: 2rem;
	height: 2rem;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.4);
}

#paletteResults {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}

#paletteResults ul {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	padding: 0;
	margin: 0;
}

#paletteResults ul li {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	padding: 0;
	margin: 0;
	align-items: center;
}

.tab {
	cursor: pointer;
	padding: 10px;
	border: 1px solid #ccc;
	display: inline-block;
	background-color: #f1f1f1;
}
.active-tab {
	background-color: white;
	border-bottom: none;
}
form {
	margin-top: 20px;
}
